{% extends "base_generic.html" %}

{% load users_tags %}

{% block content %}
    <h1>Inventory Manager</h1>

    <p>Welcome to Inventory Manager, a website developed by <em>Todd Brentlinger</em>!</p>
    
    <h2>Dynamic content</h2>

    <p>The inventory manager has the following data:</p>

    <ul>
        <li><strong>Inventories:</strong> {{ num_inventories }}</li>
        <li><strong>Items:</strong> {{ num_items }}</li>
        <li><strong>Borrowed Items:</strong> {{ num_borrowed_items }}</li>
    </ul>

    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
    <p>Last Visit: {% timestamp_to_datetime_format datetime_timestamp_last_visited %} - {% duration_from_now datetime_timestamp_last_visited %} ago</p>
{% endblock %}
